var

# zed related
dotfiles/zed/.config/zed/conversations
dotfiles/zed/.config/zed/prompts
dotfiles/zed/.config/zed/themes

# gnupg
dotfiles/gnupg/.config/gnupg/*
!dotfiles/gnupg/.config/gnupg/gpg-agent.conf

# zsh
dotfiles/zsh/.config/zsh/.zshrc.local

# git
dotfiles/git/.config/git/.gitlocal

# homebrew
dotfiles/homebrew/.config/homebrew/Brewfile.local
