.DS_Store
var

# zed related
dotfiles/zed/.config/zed/conversations
dotfiles/zed/.config/zed/prompts
dotfiles/zed/.config/zed/themes

# gnupg
dotfiles/gnupg/.gnupg/*
!dotfiles/gnupg/.gnupg/gpg-agent.conf
