.DS_Store
var

# zed related
dotfiles/zed/.config/zed/conversations
dotfiles/zed/.config/zed/prompts
dotfiles/zed/.config/zed/themes

# gnupg
dotfiles/gnupg/.gnupg/openpgp-revocs.d/
dotfiles/gnupg/.gnupg/private-keys-v1.d/
dotfiles/gnupg/.gnupg/pubring.kbx
dotfiles/gnupg/.gnupg/pubring.kbx~
dotfiles/gnupg/.gnupg/trustdb.gpg
