name: monitoring

services:
  prometheus:
    container_name: prometheus
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - monitoring
    restart: always

  grafana:
    container_name: grafana
    image: grafana/grafana
    command: ["./run.sh", "-disable-reporting"]
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitoring
    restart: always

volumes:
  prometheus-data:
  grafana-data:

networks:
  monitoring:
    external: true
